<?xml version="1.0"?>
<!--
/**
* Empire_Payments default configuration
*
* @category    Empire
* @package     Empire_Payments
* @author      Rob Sandusky
* @copyright   CBDOilBuy.com (https://cbdoilbuy.com)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Empire\Payments\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="empire_payments" xsi:type="const">Empire\Payments\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="empire_payments_config_provider" xsi:type="object">Empire\Payments\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

</config>
